{% load appendtoget %}
<div class="pagination">
    <span class="step-links">
        {% if paginator.has_previous %}
            <a href="{% append_to_get page=paginator.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
        </span>

        {% if paginator.has_next %}
            <a href="{% append_to_get page=paginator.next_page_number %}">next</a>
        {% endif %}
    </span>
</div>
