{% extends "base.html" %}
{% block body %}
<div id="wrapper">
<div id="header">
    <h1><a href="{% url 'home' %}">Datacommons</a></h1>
    <ul id="nav">
        {% if user.is_authenticated %}
            <li><a href="{% url "csv-upload" %}">Import a CSV</a></li>
            <li><a href="{% url "csv-all" %}">Schema Browser</a></li>
            <li><a href="{% url "doc-upload" %}">Upload a Document</a></li>
            <li><a href="{% url "doc-all" %}">Document Browser</a></li>
            <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
        {% endif %}
    </ul>
    <hr />
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<div id="footer">
    <hr />
    <p>Datacommons &copy; 2013</p>
</div>
</div>
{% endblock %}
