{% extends "base.html" %}
{% block body %}
<div id="header">
    {% if user.is_authenticated %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Title</a>

                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "csv-upload" %}">CSV</a></li>
                                <li><a href="{% url "shapefile-upload" %}">Shapefile</a></li>
                                <li><a href="{% url "doc-upload" %}">Document</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "schemas-all" %}">Tables</a></li>
                                <li><a href="{% url "doc-all" %}">Documents</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url "schemas-permissions" %}">Manage Permissions</a></li>
                        {% if user.is_staff or user.is_admin %}
                            <li><a href="{% url "schemas-create" %}">Create Schema</a></li>
                        {% endif %}
                        <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div id="content">
    {% if messages %}
        <div style="margin-top:10px">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>

<div id="footer">
    <hr />
    <p>Datacommons &copy; 2013</p>
</div>
{% endblock %}
