{% extends "base.html" %}
{% block body %}
<h1>Hello World</h1>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label>Which schema should this CSV be imported into?</label>
{% if errors.schema %}<p class="error">{{ errors.schema }}</p>{% endif %}
<select name="schema" id="schema">
    <option value=""></option>
    {% for schema in schemas %}
        <option value="{{ schema }}" {% if request.POST.schema == schema %}selected="selected"{% endif %}>{{ schema }}</option>
    {% endfor %}
</select>

<label>Do you want to:</label>
{% if errors.mode %}<p class="error">{{ errors.mode }}</p>{% endif %}
{% if errors.table %}<p class="error">{{ errors.table }}</p>{% endif %}
<label><input type="radio" name="mode" value="create" {% if request.POST.mode == "create" %}checked="checked"{% endif %} />create a new table</label>
<label><input type="radio" name="mode" value="append" {% if request.POST.mode == "append" %}checked="checked"{% endif %} />append to an existing table
</label>
<select name="table" id="table">
</select>

<label>Upload a CSV</label>
{% if errors.file %}<p class="error">{{ errors.file }}</p>{% endif %}
<input type="file" name="file" />
<input type="submit" name="submit" value="Upload" />

</form>

<script type="text/javascript">
var SCHEMAS = {{ schemas_json|safe }};
$(document).ready(function(){
    $('#schema').on('change click blur', function(){
        populateTables();
    });
    populateTables();

    {% if request.POST.table %}
    // preselect the right table for the user
    $('#table [value={{ request.POST.table }}]').attr("selected", "selected");
    {% endif %}
});

function populateTables(){
    var schema = $('#schema').val();
    var tables = SCHEMAS[schema];
    var t = $('#table');
    $('#table').html("")
    if(schema == "") return;
    t.append("<option value=''></option>")
    for(var i = 0; i < tables.length; i++){
        var name = tables[i];
        t.append("<option value='" + name + "'>" + name + "</option>");
    }
}

</script>
{% endblock %}
