{% extends "main.html" %}
{% block content %}
<h2>Import a CSV</h2>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label>Which schema should this CSV be imported into?</label>
{% if errors.schema %}<p class="error-inline">{{ errors.schema }}</p>{% endif %}
<select name="schema" id="schema">
    <option value=""></option>
    {% for schema in schemas %}
        <option value="{{ schema }}" {% if request.POST.schema == schema %}selected="selected"{% endif %}>{{ schema }}</option>
    {% endfor %}
</select>

<label>Do you want to:</label>
{% if errors.mode %}<p class="error-inline">{{ errors.mode }}</p>{% endif %}
{% if errors.table %}<p class="error-inline">{{ errors.table }}</p>{% endif %}
{% comment %}using slugify to convert the mode to a string. Hackish {% endcomment %}
<label class="sublabel" id="create-table"><input type="radio" name="mode" value="{{ CSVUpload.CREATE }}" {% if request.POST.mode == CSVUpload.CREATE|slugify %}checked="checked"{% endif %} />create a new table</label>
<label class="sublabel" id="append-to-existing"><input type="radio" name="mode" value="{{ CSVUpload.APPEND }}" {% if request.POST.mode == CSVUpload.APPEND|slugify %}checked="checked"{% endif %} />append to an existing table
</label>
<select name="table" id="table">
</select>

<div id="table-description">
    <p><strong>The CSV you upload must have the following columns (the order of the columns doesn't matter):</strong></p>
    <ol id="column-list"></ol>
</div>

<label>Upload a CSV</label>
<p class="help-inline">The first row of the CSV is assumed to be the column headings</p>
{% if errors.file %}<p class="error-inline">{{ errors.file }}</p>{% endif %}
<input type="file" name="file" />

<input type="submit" name="submit" value="Continue" id="submit" />

</form>

<script type="text/javascript">
var SCHEMAS = {{ schemas_json|safe }};
$(document).ready(function(){
    $('#schema').on('change', function(){
        populateTables();
    });

    $('#create-table').bind('click change', function(){
        $('#table-description').hide();
    })
    
    $('#append-to-existing input').bind('click change', function(){
        if($(this).attr('checked')){
            $("#table").click();
        }
    })

    $('#table').on('click change', function(){
        $('#append-to-existing input').attr('checked', true);
        var table = $(this).val();
        var schema = $('#schema').val();
        if(schema in SCHEMAS && table in SCHEMAS[schema]){
            var description = [];
            var cols = SCHEMAS[schema][table];
            var info = []
            for(var i = 0; i < cols.length; i++){
                col = cols[i];
                info.push("<li>" + col.name + " (<em>" + col.type_label.toLowerCase() + "</em>)</li>");
            }
            $('#column-list').html(info.join("\n"))
            $('#table-description').show();
        } else {
            $('#table-description').hide();
        }
    });
    populateTables();

    {% if request.POST.table %}
    // preselect the right table for the user
        $('#table [value={{ request.POST.table }}]').attr("selected", "selected");
        $('#table').click();
    {% endif %}
});

function populateTables(){
    var schema = $('#schema').val();
    var tables = SCHEMAS[schema];
    var t = $('#table');
    $('#table').html("")
    if(schema == "") return;
    t.append("<option value=''></option>")
    for(var k in tables){
        var name = k;
        t.append("<option value='" + name + "'>" + name + "</option>");
    }
}

</script>
{% endblock %}
