{% extends "main.html" %}
{% block content %}
<h2>Import a CSV</h2>

<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
<label>Which schema should this CSV be imported into?</label>
{% if form.schema.errors %}
    <p class="error-inline">{% for e in form.schema.errors %} {{ e }} {% endfor %}</p>
{% endif %}
{{ form.schema }}

<label>Do you want to:</label>
{% if form.mode.errors %}
    <p class="error-inline">{% for e in form.mode.errors %} {{ e }} {% endfor %}</p>
{% endif %}
{% for choice in form.mode %}
<label class="sublabel">{{ choice.tag }} {{ choice.choice_label }}</label>
{% endfor %}
{% if form.table.errors %}
    <p class="error-inline">{% for e in form.table.errors %} {{ e }} {% endfor %}</p>
{% endif %}
{{ form.table }}

<div id="table-description">
    <p><strong>The CSV you upload must have the following columns (the order of the columns doesn't matter):</strong></p>
    <ol id="column-list"></ol>
</div>

<label>Upload a CSV</label>
<p class="help-inline">The first row of the CSV is assumed to be the column headings</p>
{% if form.file.errors %}
    <p class="error-inline">{% for e in form.file.errors %} {{ e }} {% endfor %}</p>
{% endif %}
{{ form.file }}

<input type="submit" name="submit" value="Continue" id="submit" />

</form>

<script type="text/javascript">
var SCHEMAS = {{ schemas_json|safe }};
$(document).ready(function(){
    $('#id_schema').on('change', function(){
        populateTables();
    });

    $('input[name="mode"]:first').bind('click change', function(){
        $('#table-description').hide();
        populateTables();
    })
    
    $('input[name="mode"]:last').bind('click change', function(){
        showColumns();
    })

    $('#id_table').on('click change', function(){
        $('input[name=mode]:last').attr('checked', true);
        showColumns();
    });

    populateTables();
    if($('input[name="mode"]:last').attr('checked')){
        showColumns();
    }

});

function populateTables(){
    var schema = $('#id_schema').val();
    var tables = SCHEMAS[schema];
    var table = $('#id_table').val();
    var t = $('#id_table');
    $('#id_table').html("")
    if(schema == "") return;
    t.append("<option value=''></option>")
    for(var k in tables){
        var name = k;
        var el = t.append("<option value='" + name + "'>" + name + "</option>");
    }
    $('#id_table option').each(function(){
        if($(this).text() == table){
            console.log(table);
            $(this).attr('selected', true);
        }
    });
}

function showColumns(){
    var table = $("#id_table").val();
    var schema = $('#id_schema').val();

    if(schema in SCHEMAS && table in SCHEMAS[schema]){
        var description = [];
        var cols = SCHEMAS[schema][table];
        var info = []
        for(var i = 0; i < cols.length; i++){
            col = cols[i];
            info.push("<li>" + col.name + " (<em>" + col.type_label.toLowerCase() + "</em>)</li>");
        }
        $('#column-list').html(info.join("\n"))
        $('#table-description').show();
    } else {
        $('#table-description').hide();
    }
}

</script>
{% endblock %}
