{% extends "main.html" %}
{% block content %}
<h2>{{ schema }}.{{ table }}</h2>
{% if upload %}
    <p class="success">You successfully imported the CSV!</p>
{% endif %}
<table id="preview">
    <thead>
        <tr>
        {% for col in cols %}
            <th>{{ col.name }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for row in rows %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
