html {
    background:none;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:#e2e2e2;
    font-size:14px;
}

h1 {
    font-size:48px;
    margin-bottom:5px;
    margin-top:0px;
}

h2 {
    font-size:24px;
    margin-bottom:5px;
    margin-top:5px;
}

h3 {
    margin-bottom:5px;
    font-size:18px;
}

p {
    font-size:14px;
    margin-bottom:5px;
}

hr {
    clear:both;
}

a:link, a:visited, a:hover {
    text-decoration:underline;
    color:#5195CE;
}

a:visited {
    color:#1A5586;
}

a:hover {
    text-decoration:none;
}

label {
    display:block;
    font-weight:bold;
    margin-top:10px;
}

.sublabel {
    margin-top:0;
    font-weight:normal;
}

.error {
    color:#ff0000;
    font-weight:bold;
}

.errorlist {
    color:#ff0000;
    font-weight:bold;
}

.error-inline, .help-inline {
    margin:0;
    font-weight:bold;
    font-size:11px;
}

.error-inline {
    color:#f00;
}

.field-type {
    font-size:11px;
    text-align:center;
}

.success {
    color:#008209;
    font-weight:bold;
}

#submit {
    display:block;
    margin-top:10px;
}

#wrapper {
    background-color:#fff;
    margin:auto;
    padding:20px;
}

#nav {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
    padding-bottom:10px;
}

#nav li {
    float:left;
    margin-right:20px;
}

#table {
    display:inline;
}

#append-to-existing {
    display:inline;
}

#table-description {
    display:none;
}

#preview-wrapper {
    width:100%;
    overflow:auto;
}

#preview {
    border:none;
    border-collapse:collapse;
    margin-top:10px;
    background-color:#fff;
}

#preview td {
    border:none;
    border-right:1px solid #efefef;
    border-left:1px solid  #efefef;
}

#preview th {
    border:none;
    background-color:#efefef;
    border-right:1px solid #efefef;
    border-left:1px solid  #efefef;
    text-align:left;
}

#preview thead td {
    vertical-align:bottom;
    text-align:center;
}

#preview tbody td {
    font-family:Courier, "Courier New", monospace;
    font-size:11px;
}

ul.nested-checkbox {
    margin-left:0;
    padding-left:0;
    list-style-type:none;
}

.nested-checkbox ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
}

.nested-checkbox label {
    margin-top:0px;
    font-weight:normal;
}

.checkbox-group {
    margin-top:0;
}

.checkbox-group-heading {
    font-weight:bold;
}
