body {
    width:960px;
    margin:auto;
}
.strong-labels label {
    font-weight:bold;
}

.light-labels label {
    font-weight:normal;
}

.smashed-labels label:not(:last-child) {
    margin-bottom:0px;
}

input[type=file] {
    margin-bottom:6px;
}

.overflowed {
    width:100%;
    overflow:auto;
}

.no-margin input, .no-margin select {
    margin:0;
}

/* the upload preview form */

#preview-wrapper {
    width:100%;
    overflow:auto;
}

.field-type {
    font-size:11px;
    text-align:center;
}

#preview {
    border:none;
    border-collapse:collapse;
    margin-top:10px;
    background-color:#fff;
}

.preview input, .preview select {
    margin-bottom:5px;
    margin-top:5px;
}

#preview td {
    border:none;
    border-right:1px solid #efefef;
    border-left:1px solid  #efefef;
    padding:3px;
}

#preview th {
    border:none;
    background-color:#efefef;
    border-right:1px solid #efefef;
    border-left:1px solid  #efefef;
    text-align:left;
    padding:5px;
}

#preview thead td {
    vertical-align:bottom;
}

#preview tbody td {
    font-family:Courier, "Courier New", monospace;
    font-size:11px;
}

/* permissions page */

.permissions-errors {
    color:#ff0000;
}

#permissions-table {
    border-spacing:0;
}

#permissions-table td {
    padding:3px;
}

#permissions-table td.permission-cell {
    background-color:#e2e2e2;
    text-align:center;
    border:none;
}

#permissions-table tr:last-child td {
    border:none;
}

.permissions-table input, .permissions-table select {
    margin:0;
}

.permissions-list-editor th {
    text-align:center;
}

ul.nested-checkbox {
    margin-left:0;
    padding-left:0;
    list-style-type:none;
}

.nested-checkbox ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
}

.checkbox-group-heading {
    font-weight:bold;
}

/* stuff for the query builder */
.schemata-view .schemata-list ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
    font-weight:bold;
}

.schemata-view .schemata-list li ul {
    font-weight:normal;
    margin-left:16px;
}

.schemata-view .schema-name {
    cursor:pointer;
}

.schemata-view .table-name {
    cursor:pointer;
}

.schemata-view .table-name:hover {
    text-decoration:underline;
}

.table-view {
    border:1px solid black;
    background-color:#fff;
    overflow:auto;
    display:inline-block;
}

.table-view .header {
    font-size:11px;
    background-color:#efefef;
    color:#000;
    padding:2px;
    cursor:move;
}

.table-view .remove {
    float:right;
    font-family:monospace;
    padding-left:3px;
    cursor:pointer;
}

.table-view .columns {
    padding-left:5px;
}

.table-view .primary-key {
    font-weight:bold;
}

.table-view input[type='text']{
    margin-bottom:0;
    width:100%;
    box-sizing:border-box;
    border-top:none;
    border-left:none;
    border-right:none;
    font-style:italic;
}

.table-view { 
    position:absolute;
}

.column-view .name:hover {
    cursor:pointer;
    text-decoration:underline;
}

/* end querybuilder */

#query-columns {
    float:right;
}

#tables {
    float:right;
}

/*
html {
    background:none;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:#e2e2e2;
    font-size:14px;
}

h1 {
    font-size:48px;
    margin-bottom:5px;
    margin-top:0px;
}

h2 {
    font-size:24px;
    margin-bottom:5px;
    margin-top:5px;
}

h3 {
    margin-bottom:5px;
    font-size:18px;
}

p {
    font-size:14px;
    margin-bottom:5px;
}

hr {
    clear:both;
}

a:link, a:visited, a:hover {
    text-decoration:underline;
    color:#5195CE;
}

a:visited {
    color:#1A5586;
}

a:hover {
    text-decoration:none;
}

label {
    display:block;
    font-weight:bold;
    margin-top:10px;
}

.sublabel {
    margin-top:0;
    font-weight:normal;
}

.error {
    color:#ff0000;
    font-weight:bold;
}

.errorlist {
    color:#ff0000;
    font-weight:bold;
}

.error-inline, .help-inline {
    margin:0;
    font-weight:bold;
    font-size:11px;
}

.error-inline {
    color:#f00;
}

.field-type {
    font-size:11px;
    text-align:center;
}

.success {
    color:#008209;
    font-weight:bold;
}

#submit {
    display:block;
    margin-top:10px;
}

#wrapper {
    background-color:#fff;
    margin:auto;
    padding:20px;
}

#nav {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
    padding-bottom:10px;
}

#nav li {
    float:left;
    margin-right:20px;
}

#table {
    display:inline;
}

#append-to-existing {
    display:inline;
}

#table-description {
    display:none;
}

#preview-wrapper {
    width:100%;
    overflow:auto;
}

#preview {
    border:none;
    border-collapse:collapse;
    margin-top:10px;
    background-color:#fff;
}

#preview td {
    border:none;
    border-right:1px solid #efefef;
    border-left:1px solid  #efefef;
}

#preview th {
    border:none;
    background-color:#efefef;
    border-right:1px solid #efefef;
    border-left:1px solid  #efefef;
    text-align:left;
}

#preview thead td {
    vertical-align:bottom;
    text-align:center;
}

#preview tbody td {
    font-family:Courier, "Courier New", monospace;
    font-size:11px;
}

#success-message {
    display:none;
}
*/
