{% extends "main.html" %}
{% block content %}
<h2>Query Builder</h2>

<div id="tables" class="table-view-container"></div>

<div id="query-columns" class="query-columns">
    <table>
        <tr>
            <th>Field:</th>
            <td>
                <select name="foo"></select>
            </td>
        </tr>
        <tr>
            <th>Sort:</th>
            <td>
                <select name="foo">
                    <option value="">(not sorted)</option>
                    <option value="">Ascending</option>
                    <option value="">Descending</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Show:</th>
            <td><input type="checkbox" /></td>
        </tr>
        <tr>
            <th>Criteria:</th>
            <td><input type="text" />
        </tr>
        <tr>
            <th>or:</th>
            <td><input type="text" />
        </tr>
    </table>

</div>

<div id="schemata" class="schemata-view">
    <input type="text" name="search" class="schemata-search" />
    <div class="schemata-list">
    </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" version="1.1"
    id="canvas"
    style="background:none; width:100%; height:100%; position:absolute; top:0; left:0; z-index:-1;">
    
<line x1="0" y1="0" x2="10" y2="10" stroke-width="2" 
    stroke="black" id="line1" />
   
</svg>



<script type="text/javascript">
function Schema(name){
    this.name = name
    this.tables = []
}

function Table(name, schema){
    this.schema = schema;
    this.name = name;
    this.columns = [];
}

Table.prototype.fullName = function(){
    return this.schema.name + "." + this.name;
}

function Column(name, is_pk, table){
    this.name = name;
    this.table = table;
    this.is_pk = is_pk;
}

function parseSchemata(schemata){
    var schemas = [];
    for(var schema_name in schemata){
        var schema = new Schema(schema_name);
        var tables = schemata[schema_name];
        for(var table_name in tables){
            var table = new Table(table_name, schema);
            var cols = tables[table_name];
            for(var i = 0; i < cols.length; i++){
                var col = cols[i];
                table.columns.push(new Column(col.name, col.pk, table));
            }
            schema.tables.push(table);
        }
        schemas.push(schema);
    }
    return schemas;
}

SCHEMATA = {{ schemata|safe }};
SCHEMATA = parseSchemata(SCHEMATA);

/*
 * Allows objects to register callbacks for events, and lets objects broadcast
 * events to all registered listeners.
 * Public methods:
 *     listenFor(string event_type_name, function callback)
 *     broadcast(obj this_argument for callback function, string event_type_name, obj argument to pass to callback)
 */
var EventRegistry = {
    listeners: {},
    listenFor: function(type, callback){
        var types = type.split(" ");
        for(var i = 0; i < types.length; i++){
            var type = types[i]; 
            if(!(type in this.listeners)){
                this.listeners[type] = [];
            }
            this.listeners[type].push(callback);
        }
    },
    broadcast: function(this_arg, type, event_arg){
        var listeners = this.listeners[type];
        for(var i = 0; i < listeners.length; i++){
            listeners[i].call(this_arg, event_arg);
        }
    }
}

/* 
 * Generates a unique key for any view object, and allows the view to be
 * retrieved using that key.
 * Public methods: 
 *     register(View object)
 *     getViewByKey(string key)
 */
var ViewRegistry = {
    key: 0,
    registry: {},
    register: function(view){
        this.key++;
        this.registry[this.key] = view;
        return this.key;
    },
    getViewByKey: function(key){
        return this.registry[key];
    }
}

/*
 * Adds, removes and draws the relationships between ColumnViews. 
 * Public methods:
 *     addRelationship(ColumnView a, ColumnView b)
 *     removeRelationship(ColumnView)
 *     draw()
 */
function RelationshipView(){
    this.relationships = [];
}

RelationshipView.prototype.addRelationship = function(a, b){
    this.relationships.push({
        a: a,
        b: b
    });
    this.draw();
}

RelationshipView.prototype.removeRelationship = function(view){
    for(var i = this.relationships.length - 1; i >= 0; i--){
        if(this.relationships[i].a == view || this.relationships[i].b == view){
            this.relationships.splice(i, 1);
        }
    }
    this.draw();
}

RelationshipView.prototype.draw = function(){
    $('#canvas path').remove();
    for(var i = 0; i < this.relationships.length; i++){
        var relationship = this.relationships[i];
        this.drawConnection(relationship.a, relationship.b);
    }
}

RelationshipView.prototype.drawConnection = function(a, b){
    var canvas = document.getElementById('canvas');
    var b_offset = b.element.find(".column-dragger").offset();
    var a_offset = a.element.find(".column-dragger").offset();
    var a_width = a.element.closest(".table-view").width();
    var b_width = b.element.closest(".table-view").width();

    var line = document.createElementNS('http://www.w3.org/2000/svg', 'path');
    
    var vertical_offset = 10;
    var horizontal_offset = 20;

    var line_out_of_a = "";
    var line_into_b = "";
    if(a_offset.left + (a_width/2) < b_offset.left + (b_width/2)){
        // the line should start at the right side of `a`, and go to the left of `b`
        line_out_of_a += "M" + (a_offset.left+a_width) + " " + (a_offset.top + vertical_offset);
        line_out_of_a += " l " + horizontal_offset + " 0 ";

        line_into_b += " L " + (b_offset.left - horizontal_offset) + " " + (b_offset.top + vertical_offset);
        line_into_b += " l " + horizontal_offset + " 0 ";
    } else {
        // the line should start at the left side of `a`, and go to the right of `b`
        line_out_of_a += "M" + a_offset.left + " " + (a_offset.top + vertical_offset);
        line_out_of_a += " l " + (-horizontal_offset) + " 0 ";

        line_into_b += " L " + (b_offset.left + b_width+horizontal_offset) + " " + (b_offset.top + vertical_offset);
        line_into_b += " l " + (-horizontal_offset) + " 0 ";

    }
    var path = line_out_of_a + " " + line_into_b;

    line.setAttribute("d", path);
    line.setAttribute("stroke-width", 2);
    line.setAttribute("stroke", 'black');
    line.setAttribute("fill", 'none');
    canvas.appendChild(line);
}

function ColumnView(column, container){
    this.column = column;
    this.container = container;
    this.element = null;
    this.key = ViewRegistry.register(this);
}

ColumnView.prototype.render = function(){
    var cls = ""
    if(this.column.is_pk) cls = 'primary-key';
    this.element = $('<tr class="column-view"><td><i class="icon-resize-horizontal column-dragger" data-key="' + this.key + '"></i></td><td class="name">' + this.column.name + '</td></tr>');
    this.container.append(this.element);
    this.bindEvents(); 

    $('.column-dragger').draggable({
        appendTo: 'body',
        helper: 'clone',
    });

    $('.column-dragger').droppable({
        drop: function(event, ui){
            var from = $(event.srcElement);
            var to = $(this);

            var from_key = from.data("key");
            var to_key = to.data("key");

            var from_view = ViewRegistry.getViewByKey(from_key);
            var to_view = ViewRegistry.getViewByKey(to_key);

            EventRegistry.broadcast(this, "relationship_formed", {
                a: to_view,
                b: from_view
            })
        }
    });

}

ColumnView.prototype.bindEvents = function(){
    var that = this;
    this.element.find('.name').on('click', function(e){
        console.log("here");
    });
}

function TableView(table, container){
    this.table = table;
    this.container = container;
    this.element = null;
    this.column_views = [];
    this.key = ViewRegistry.register(this);
}

TableView.prototype.render = function(){
    var html = ['<div class="table-view">'];
    html.push('<div class="header"><span class="remove"><i class="icon-remove"></i></span> ' + this.table.fullName() + '</div>')
    html.push('<input type="text" name="table-name" value="' + this.table.name + '" />');
    html.push('<table class="columns"><tbody>');
    html.push('</tbody></table>');
    html.push('</div>');
    this.element = $(html.join(""));
    this.container.append(this.element);

    var column_div = this.element.find(".columns");
    this.column_views = [];
    for(var i = 0; i < this.table.columns.length; i++){
        var cv = new ColumnView(this.table.columns[i], column_div)
        cv.render();
        this.column_views.push(cv);
    }

    var that = this;
    // make myself draggable
    $(this.element).draggable({
        'handle': '.header',
        'drag': function(){ EventRegistry.broadcast(that, "drag", null) },
        'stop': function() { EventRegistry.broadcast(that, "stop", null) }
    });

    this.bindEvents();
}

TableView.prototype.remove = function(){
    EventRegistry.broadcast(this, "closed", null);
    this.element.remove();
}

TableView.prototype.bindEvents = function(){
    var that = this;
    $(this.element).find('.icon-remove').on('click', function(){
        that.remove();
    });
}

function SchemataView(schemas, container){
    this.container = container;
    this.schemas = schemas;
}

SchemataView.prototype.render = function(){
    var html = ['<ul>'];
    for(var i = 0; i < this.schemas.length; i++){
        var schema = this.schemas[i];
        html.push("<li class='schema-info'><span class='schema-name'><i class='icon-folder-close'></i> " + schema.name + "</span><ul class='table-list'>");
        var tables = schema.tables;
        for(var j = 0; j < tables.length; j++){
            html.push("<li><i class='icon-list-alt'></i> <span class='table-name'>" + tables[j].name + "</span></li>")
        }
        html.push("</ul></li>");
    }

    this.container.find('.schemata-list').html(html.join(""))
    this.collapseAllTableLists();
    this.bindEvents();
}

SchemataView.prototype.collapseAllTableLists = function(){
    this.container.find(".table-list").hide();
}

SchemataView.prototype.tableObjectFromDOM = function(element){
    var table_name = $.trim($(element).text());
    var schema_name = $.trim($(element).closest('.schema-info').find('.schema-name').text());
    console.log(table_name, schema_name);
    var table = this.findTableObject(schema_name, table_name);
    return table;
}

SchemataView.prototype.findTableObject = function(schema_name, table_name){
    // find the schema object
    for(var i = 0; i < this.schemas.length; i++){
        var schema = this.schemas[i];
        if(schema.name == schema_name) break;
    }

    // now find the table object
    for(var i = 0; i < schema.tables.length; i++){
        var table = schema.tables[i];
        if(table.name == table_name) return table;
    }

    return null;
}

SchemataView.prototype.bindEvents = function(){
    // when the schema name is clicked, slide up or down the list of tables,
    // and change the folder icon to either open or closed
    this.container.find(".schema-name").on('click', function(){
        var table_list = $(this).closest("li").find('.table-list');
        var icon = $(this).find("i");
        if(table_list.is(":visible")){
            table_list.slideUp();
            icon.removeClass("icon-folder-open").addClass("icon-folder-close");
        } else {
            table_list.slideDown();
            icon.addClass("icon-folder-open").removeClass("icon-folder-close");
        }
    });

    // notify the event listeners
    var that = this;
    this.container.on('dblclick', '.table-name', function(){
        var table = that.tableObjectFromDOM($(this));
        var event = {
            table: table,
        }
        EventRegistry.broadcast(that, "dblclick", event);
    });
}

$(document).ready(function(){
    var schemata_view = new SchemataView(SCHEMATA, $('#schemata'));
    schemata_view.render();

    // when a table name is clicked in the SchemataView, add it to the page
    EventRegistry.listenFor("dblclick", function(event){
        if(!(this instanceof SchemataView)) return;
        var tv = new TableView(event.table, $('#tables'));
        tv.render();
    });

    var relationship_view = new RelationshipView();
    // when a relationship is formed, add it to the view
    EventRegistry.listenFor("relationship_formed", function(event){
        relationship_view.addRelationship(event.a, event.b);
    });
    // when a tableview is dragged we need to redraw all the connections in the
    // relationship view (since the lines need to originate from the tableview)
    EventRegistry.listenFor("drag stop", function(event){
        if(!(this instanceof TableView)) return;
        relationship_view.draw();
    });
    // when a table is closed, we need to delete all the relationships based on
    // it
    EventRegistry.listenFor("closed", function(event){
        if(!(this instanceof TableView)) return;
        // remove all relationships based on columns in this tableview
        for(var i = 0; i < this.column_views.length; i++){
            relationship_view.removeRelationship(this.column_views[i]);
        }
    });
});

</script>

{% comment %}
<h3>Step 1</h3>
<p>Choose the tables/views you want to join:</p>

{% if form.errors %}
    <div class="alert alert-error">
        <strong>Some errors were detected!</strong> You must fix them before you can continue.
    </div>
{% endif %}

<form method="post" action="" class="strong-labels">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for schema_name, fields in form.schemas.items %}
        <label>{{ schema_name }}</label>
        <div class="light-labels">
            {% for field in fields %}
                <label class="checkbox">{{ field }} {{ field.label }}</label>
            {% endfor %}
        </div>
    {% endfor %}

    <input type="submit" name="Submit" value="Continue" />
</form>
{% endcomment %}

{% endblock %}
