{% extends "main.html" %}
{% block content %}
<h2>Import a Shapefile</h2>

<form action="" method="post" enctype="multipart/form-data" class="strong-labels">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-error">
            <strong>Some errors were detected!</strong> You must fix them before you can continue.
        </div>
    {% endif %}

    <label>Which schema should this shapefile be imported into?</label>
    {{ form.schema.errors }}
    {{ form.schema }}

    <label>Do you want to:</label>
    {{ form.mode.errors }}
    <div class="radio light-labels smashed-labels">
        {% for choice in form.mode %}
            <label>{{ choice.tag }} {{ choice.choice_label }}</label>
        {% endfor %}
    </div>

    <div id="select-table" style="display:none">
        <label>Which table do you want to update?</label>
        {{ form.table.errors }}
        {{ form.table }}

        <div id="table-description">
            <p><strong>Table fields:</strong></p>
            <ol id="column-list"></ol>
        </div>
    </div>

    <label>Upload a Shapefile</label>
    {{ form.file.errors }}
    {{ form.file }}
    <br /><br />
    <input type="submit" name="submit" value="Continue" id="submit" />
</form>

<script type="text/javascript">
var SCHEMAS = {{ schemas_json|safe }};
$(document).ready(function(){
    // when the schema select box changes, we need to update all the tables in
    // the table select box
    $('#id_schema').on('change', function(){
        populateTables();
    });

    // when a mode is selected, we need to decide to display the table drop
    // down box
    $('input[name="mode"]').bind('click change', function(){
        var val = $('input[name="mode"]:checked').val()
        if(val == "{{ ImportableUpload.CREATE }}"){
            // creating a table doesn't require selecting one, so hide the
            // table list
            $('#select-table').hide();
        } else if(
            val == "{{ ImportableUpload.APPEND }}" || 
            val == "{{ ImportableUpload.UPSERT }}" ||
            val == "{{ ImportableUpload.DELETE }}") {
            // appending or upserting requires the user to select a table
            // so show the select box, update the list, and show the column
            // info div
            $('#select-table').show();
            populateTables();
        }
    })
    
    // when a table is selected from the drop down, we need to update the
    // column info div
    $('#id_table').on('click change', function(){
        populateTables();
    });

    // when the page loads, fire off this event which handles all the logic for
    // hiding/displaying the table stuff
    $('input[name="mode"]').change();
});

function populateTables(){
    // get the schema name
    var schema = $('#id_schema').val();
    // get all the tables out of the schema meta data
    var tables = SCHEMAS[schema];
    // get the currently selected table, so we can restore the selected value,
    // when the option list is regenerated
    var original_selection = $('#id_table').val();

    var t = $('#id_table');
    // reset the table options
    t.html("")
    // hide the table description
    $('#table-description').hide();
    if(schema == ""){ 
        return;
    }

    // add a blank option
    t.append("<option value=''></option>")
    // for each table, add an option in the drop down list for it
    for(var k in tables){
        var name = k;
        var el = t.append("<option value='" + name + "'>" + name + "</option>");
    }

    // restore the selected option (since we just wiped out the whole select
    // box, and erased their selection)
    $('#id_table option').each(function(){
        if($(this).text() == original_selection){
            $(this).attr('selected', true);
        }
    });

    var table = $("#id_table option:selected").val();
    showColumns(schema, table);
}

function showColumns(schema, table){
    if(!schema || !table){
        return;
    }
    // get the list of cols out of the schema meta data
    try {
        var cols = SCHEMAS[schema][table];
    } catch(e){
        return;
    }

    var info = []
    for(var i = 0; i < cols.length; i++){
        col = cols[i];
        info.push("<li>") 
        if(col.pk) info.push("<strong>")
        info.push(col.name)
        if(col.pk) info.push("</strong>")
        
        info.push(" (<em>")
        info.push(col.type_label.toLowerCase())
        info.push("</em>)</li>");
    }
    $('#column-list').html(info.join(""))
    $('#table-description').show();
}

</script>
{% endblock %}
