{% extends "main.html" %}
{% block content %}
{% for schema in schemas %}
    <h3>{{ schema.name }}</h3>
    {% if schema.tables|length > 0 %}
        <h4>Tables</h4>
        <ol>
        {% for table in schema.tables %}
            <li>
                <a href="{% url "schemas-show" schema table %}">{{ table }}</a>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    {% if schema.views|length > 0 %}
        <h4>Views</h4>
        <ol>
        {% for table in schema.views %}
            <li>
                <a href="{% url "schemas-show" schema table %}">{{ table }}</a>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    {% if schema.views|length == 0 and schema.tables|length == 0 %}
        (empty)
    {% endif %}
{% endfor %}
{% endblock %}
