{% extends "main.html" %}
{% block content %}
<h2>Schemas</h2>
<ol>
{% for schema, tables in schemas.items %}
    <li>{{ schema }}
        {% if tables|length > 0 %}
            <ol>
            {% for table in tables %}
                <li>
                    <a href="{% url "schemas-show" schema table %}">{{ table }}</a>
                    <a href="{% url "api-schemas-tables" schema table 'csv' %}">(csv)</a>
                </li>
            {% endfor %}
            </ol>
        {% else %}
            (empty)
        {% endif %}
    </li>
{% endfor %}
</ol>
{% endblock %}
