{% extends "main.html" %}
{% block content %}
<h2>{{ table.schema }}.{{ table.name }}</h2>
{% if form.fields|length != 0 %}
    <form method="post" action="">
        {% csrf_token %}
        <table class="table table-striped no-margin permissions-list-editor">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Insert</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user, can_insert, can_update, can_delete in form.fieldIter %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <th>{{ can_insert }}</th>
                        <th>{{ can_update }}</th>
                        <th>{{ can_delete }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="submit" value="Save" />
    </form>
{% else %}
    <div class="alert alert-info">No permissions defined for this table</div>
{% endif %}

{% endblock %}
