{% extends "main.html" %}
{% block content %}
<h2>{{ table.schema }}.{{ table.name }}</h2>
<form method="post" action="">
{% csrf_token %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Insert</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for user, can_insert, can_update, can_delete in form.fieldIter %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ can_insert }}</td>
                <td>{{ can_update }}</td>
                <td>{{ can_delete }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<input type="submit" name="submit" value="Save" />
</form>
{% endblock %}
