{% extends "main.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_user').autocomplete({
        source: function(request, response){
            $.getJSON("{% url 'schemas-users' %}", {term: request.term}, function(data){
                var options = []
                for(var i = 0; i < data.length; i++){
                    var user = data[i];
                    options.push({
                        label: user.first_name + " " + user.last_name + " (" + user.username + ")",
                        value: user.username,
                    });
                }
                response(options); 
            });
        }
    });

    $('#add').click(function(){
        clearErrors();
        var form = $('#form').serialize();
        $.post("{% url 'schemas-grant' %}", form, function(data){
            var response = $.parseJSON(data);
            console.log(response);
            if(response.success){
                console.log("Success")
            } else {
                showErrors(response.errors)
            }
        })
    });
});

function clearErrors(){
    $('.permissions-errors').each(function(){ $(this).html(""); })
}

function showErrors(errors){
    for(var k in errors){
        var error_list = errors[k];
        var id = "#errors_" + k;
        var html = [];
        for(var i = 0; i < error_list.length; i++){
            html.push(error_list[i]);
        }
        $(id).append(html.join(","));
    }
}

</script>
<h2>Tables you own</h2>
<ol>
{% for schema, tables in groups.items %}
    <li>{{ schema }}
        <ol>
        {% for table in tables %}
            <li><a href="{% url "schemas-view" table.schema table.name %}">{{ table }}</a>
        {% endfor %}
        </ol>
    </li>
{% endfor %}
</ol>

<form action="" method="post" id="form" >
{% csrf_token %}
<h2>Grant/Revoke Permissions</h2>
<table>
    <tr>
        <td>
            <div class="permissions-errors" id="errors_{{ form.option.html_name }}"></div>
            {{ form.option }}
        </td>
        <td>
            <div class="permissions-errors" id="errors_{{ form.permissions.html_name }}"></div>
            {{ form.permissions }}
        </td>
        <td>
            on
        </td>
        <td>
            <div class="permissions-errors" id="errors_{{ form.tables.html_name }}"></div>
            {{ form.tables }}
        </td>
        <td>
            to/from
        </td>
        <td>
            <div class="permissions-errors" id="errors_{{ form.user.html_name }}"></div>
            {{ form.user }}
            <input type="button" name="add" value="Add" id="add" />
        </td>
    </tr>
</table>

</form>

{% endblock %}
