{% extends "main.html" %}
{% block content %}
<h2>{{ schema }}.{{ table }}</h2>
<p><strong>Export:</strong> <a href="{% url "api-schemas-tables" schema table 'csv' %}?version_id={{ version.pk }}">CSV</a> | 
<a href="{% url "api-schemas-tables" schema table 'json' %}?version_id={{ version.pk }}">JSON</a></p>

{% if versions %}
    <p><strong>Previous Versions</strong>
        {% for v in versions %}
            <a {% if version.pk == v.pk %}style="font-weight:bold"{% endif %}href="?version_id={{ v.pk }}">{{ v.created_on|date:"M-d-Y P" }}</a> 
        {% endfor %}
    </p>
{% endif %}

{% if version %}
    show restore link
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if rows.has_previous %}
            <a href="?page={{ rows.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ rows.number }} of {{ rows.paginator.num_pages }}.
        </span>

        {% if rows.has_next %}
            <a href="?page={{ rows.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<table id="preview">
    <thead>
        <tr>
        {% for col in cols %}
            <th>{{ col.name }}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for col in cols %}
            <th class="field-type">{{ col.type_label }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for row in rows %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
